<div class="grid">
    <div class="sub_head">
        <h2 style="margin: 0px;">{{title2}}</h2>
    </div>
    <div class="area2" style="padding-top: 5px;">
        {{#if estado}}
        <label for="addMedico">Agregar {{title}}</label>
        <a name="addMedico" href="citas/agregar-medico"><i class="fa fa-plus"></i></a>
        {{/if}}
    </div>
</div>