<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="1000">
            <img src="/images/Medicos.webp" class="d-block" alt="medicos2">
        </div>
        <div class="carousel-item" cdata-bs-interval="1500">
            <img src="/images/Medicina-Interna.jpg" class="d-block" alt="Medicos1">
        </div>
        <div class="carousel-item" data-bs-interval="1500">
            <img src="/images/centro-medico.jpg" class="d-block" alt="medicos2">
        </div>
    </div>
</div>