<h2>REGISTRO PACIENTES</h2>
<label for="cedula">Cédula:<span> *</span></label>
<input type="text" id="cedula" name="cedula" required><br>
<label for="nombre">Nombre:<span> *</span></label>
<input type="text" id="nombre" name="nombre" required><br>
<label for="apellido">Apellido:<span> *</span></label>
<input type="text" id="apellido" name="apellido" required><br>
<label for="edad">Edad:<span> *</span></label>
<input type="text" id="edad" name="edad" required><br>
<label for="correo">Correo de contacto:<span> *</span></label>
<input type="email" id="correo" name="correo" required><br>
<label for="telefono" >Telefono<span> *</span></label>
<input type="tel" id="telefono" name="telefono" minlength="5" maxlength="8" pattern="[0-9]{5,8}"required>
<a class="volver" href="/pacientes">Cancelar</a>